.viewOverview {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.viewOverview.active {
	display: block;
}

.mainContainer.editActive .viewOverview {
	border: 10px solid #f8f8f8;
	box-sizing: border-box;
}

.viewOverview .overviewList {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding: 30px;
	box-sizing: border-box;
}

.viewOverview .overviewList .hypervideoThumb {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	width: 100%;
	height: auto;
	margin: 0;
	aspect-ratio: 16 / 9;
}

/* Responsive grid columns for hypervideo thumbs */
.viewOverview .overviewList .hypervideoThumb {
	grid-column: span 4;
}

/* Small devices (≥576px) - 2 columns */
@media (min-width: 576px) {
	.viewOverview .overviewList .hypervideoThumb {
		grid-column: span 2;
	}
}

/* Medium devices (≥768px) - 2 columns */
@media (min-width: 768px) {
	.viewOverview .overviewList .hypervideoThumb {
		grid-column: span 2;
	}
}

/* Large devices (≥992px) - 1 column (4 per row) */
@media (min-width: 992px) {
	.viewOverview .overviewList .hypervideoThumb {
		grid-column: span 1;
	}
}

/* Extra large devices (≥1200px) - 1 column (4 per row) */
@media (min-width: 1200px) {
	.viewOverview .overviewList .hypervideoThumb {
		grid-column: span 1;
	}
}